* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 20px;
}
.container{
    border: 2px solid black;
    width: 550px;
    height: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.scoreDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.console {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 80%;
}

.console .display {
    width: 95%;
    max-height: 20vh;
    border: 4px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.score {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.buttons{
    height: 50vh;
    padding: 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons button {
    height: 50px;
    width: 100px;
    cursor: pointer;
}
.buttons .deck1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 8px;
}

.buttons .deck2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
}

.message {
    margin-top: 140px;
    font-size: 50px;
    color: cadetblue;
}